<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 xxl-6">
                    <label for="Name">Name</label>
                    <input type="text" class="form-control" placeholder="Enter your name" >
        
                </div>

                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 xxl-3">
                    <label for="Phone Number">Phone Number</label>
                 <input type="text" class="form-control" placeholder="Enter your contact number" >
                </div>

                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 xxl-6">
                    <label for="Gender">Gender</label>
                    <select class="form-control" name="" id="">
                        <option value="select">------select-------</option>
                <option value="male">Male</option>
                <option value="Female">Female</option>
             
            </select>
        </div>

        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 xxl-3">
            <label for="Email Id">Email Id</label>
         <input type="email" name="" id="" class="form-control" placeholder="Enter your email id">
        </div>

        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 xxl-12">
            <label for="Address">Address</label>
             <textarea class="form-control" name="" id="" cols="30" rows="10"></textarea>
        </div>

        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 xxl-6">
            <label for="Pincode">Pincode</label>
            <input type="text" class="form-control" placeholder="Enter your Pincode" >

        </div>

        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 xxl-6">
            <label for="Blood Group">Blood Group</label>
            <select class="form-control"  id="">
                <option value="select">------select-------</option>
        <option value="A RhD Positive">A+</option>
        <option value="A RhD negative">A-</option>
        <option value="B RhD Positive">B+</option>
        <option value="B RhD negative">B-</option>
        <option value="O RhD Positive">O+</option>
        <option value="O RhD negative">O-</option>
        <option value="AB RhD Positive">AB+</option>
        <option value="AB RhD negative">AB-</option>
    </select>
</div>


               
               

                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 xxl-6">
                    <label for="DOB">DOB</label>
                     <input type="date" name="" id="" class="form-control">
                </div>

                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 xxl-6">
                    <label for="Age">Age</label>
                 <input type="text" class="form-control" placeholder="Enter your Age">
                </div>

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 xxl-12">
                    <label for="Parent Name">Parent Name</label>
                    <input type="text" class="form-control" placeholder="Enter your Parent name" >
        
                </div>


                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 xxl-6">
                    <label for="Password">Password</label>
                 <input type="password" name="" id="" class="form-control">
                </div>

                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 xxl-6">
                    <label for=" Confirm Password">Confirm Password</label>
                 <input type="password" name="" id="" class="form-control">
                </div>

               

                
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 xxl-12"><br>
                        
            <button class="btn btn-success">Register</button>
            
        </div>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 xxl-12">

            <a href="">go to Login Page</a>
        </div>

        </div>
    </div>
</div>
